body{
  margin: 0%;
  padding: 0%;
  width: 100%;
  background-color: #000;

}
.zone{
  margin: 0;
  height: 110vh;
  width: 100vw;
}

.logo a{
  left: 5%;
  z-index: 1;
  top:20px;
  font-size: 20px;
  font-family: Share Tech Mono;
  position: fixed;
  text-decoration: none;
  color: rgb(255, 255, 255);
  
}
.logo:hover{
  opacity: 0.7;
  word-spacing: 3px;
}

#nav a {
  position:absolute;
   top: -80px;
  transition: 0.3s;
  padding: 42px 10px 0px 10px;
font-family: Allerta Stencil;
  height: 14vh;
  width: 8vw;
  text-align: center;
  text-decoration: none;
  font-size: 2vw;
  color: rgb(255, 255, 255);
  border-radius: 25%;
  margin-right: 3vw;
}

#nav a:hover {
  top: -15px;
  color: black;
  z-index: 1;
}

#about {
  left: 60%;
  background-color: #04AA6D;
}

#blog {
  Left: 70%;
  background-color: #2196F3;
}

#projects {
  left: 80%;
  background-color: #f44336;
  
}

#contact {
 left: 90%;
  background-color: #555
}
 #intro{
  background-color: #000000;
  top: 5%;
  width: 90vw;
   font-size: 2vw;
    color: aliceblue;
    padding:12% 0 8% 0;
 }
 .text{    
  text-align: center;
  padding-left: 10%;
  width: 50vw;
 }
 .introh{
  color: rgb(150, 217, 4);
  
 }
 #intro img{
  padding-top: 4vh;
   height: 55vh;
  border-radius: 15%;
 float: right;
  
 }

  #skills {
    height: 102vh;
    background-color: #dea52a;
    color: rgb(28, 28, 28);
      width: 100vw;
    
    text-align: center;
   
  }
  .mainh_skill{
    font-family:Copse;
    font-size: 40px;
    padding: 1vh;
  }
 
  
  .skillh{
    color: #be2015;
    font-size: 4vw;
    

  }
  #designer{
    padding: 5%;
     width: 80%;
    display: inline-flex;
    padding: 1vh ;
   
  }
  #developer{
    width : 80%;
    display: inline-flex;
    padding-bottom: 1vh;
  }
  #skills p {
    font: weight 500px; ;
    color: #115e19;
    font-size: 3.2vh;
}
#skills ul{
  list-style-type: none;
  color: rgb(50, 50, 50);
  font-size: 2.8vh;
}

  #work{
    margin-top: 0;
      padding: 0 ;
   background-color: #000000;
    
  }
  .mainh_work {

    text-align: center;
    padding: 1vh;
  }
    .mainh_work h1 {
     
      font-size: 3vh;
    color: white;
    font-size: 40px;
    
  }
  .mainh_work p{
    font-size: 2vw;
    color:tan;
  }
  .wrk_img img{
    height: 24vh;
    width: 10vw;
    width: auto;
    border-radius: 10%;
    margin: 3% 3% 3% 8%;
    border: 3px solid rgb(58, 60, 59);
  }
  .wrk_img img:hover{
    border-color: rgb(122, 122, 122);
    opacity: 0.9;
  }
  #collab{
  
    height: 70vh;
    padding: 3vw 2vw 1vw 2vw;
  }
  .collabs h1{
   
    text-align: center;
    font-size: 5.5vh;
    color: rgb(210, 210, 210);
    padding-bottom: 2vh;
   
    
  }
  .collabs img{
    border-radius: 6%;
    margin: 2vh 2vw 1vw 2vw;
    background-color: #1f1f1f;
    width: 10vw;
  }
  

.form-group {
  margin-bottom: 20px;
  margin-left: 0%;
}
#contact_me{
  width: 90vw;
  background-color: #5b5b5b;
  height: 100vh;
  padding:0 5%  0 5%;
}
#contact_me h2{
  padding-top: 5%;
  text-align: center;
  font-size: 60px;

}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 30px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
  background-color: rgb(210, 210, 210);
  padding-left: 5%;
}

textarea {
  resize: vertical;
 
}

button {
  background-color: #067330;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  color: #ffffff;
  background-color: #053919;
}

